/* Override some defaults */
html, body {
  background-color: #eee; }

body {
  padding-top: 40px;
  /* 40px to make the container go all the way to the bottom of the topbar */ }

.container > footer p {
  text-align: center;
  /* center align it with the container */ }

.container {
  width: 820px;
  /* downsize our container to make the content feel a bit tighter and more cohesive. NOTE: this removes two full columns from the grid, meaning you only go to 14 columns and not 16. */ }

h1, h2, h3, h4, h5, h6 {
  font-family: franklin-gothic-urw,sans-serif; }

/* The white background content wrapper */
.content {
  background-color: #fff;
  padding: 20px;
  margin: 0 -20px;
  /* negative indent the amount of the padding to maintain the grid system */
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15); }

/* Page header tweaks */
.page-header {
  background-color: #f5f5f5;
  padding: 20px 20px 10px;
  margin: -20px -20px 20px; }

/* Styles you shouldn't keep as they are for displaying this base example only */
.content .span10,
.content .span4 {
  min-height: 500px; }

/* Give a quick and non-cross-browser friendly divider */
.content .span4 {
  margin-left: 0;
  padding-left: 19px;
  border-left: 1px solid #eee; }

.topbar .btn {
  border: 0; }

.topbar .logged-in p {
  float: left;
  padding: 0 1em;
  color: #bfbfbf; }

.topbar .logged-in img {
  vertical-align: middle;
  float: right; }

.topbar .logged-in form {
  width: 100%; }

.topbar .logged-in form input {
  margin: 0.5em;
  width: 93%; }

.topbar .login {
  width: 100%; }

.topbar .login input[type="submit"] {
  margin: 0.5em;
  width: 92%; }

.topbar .login input {
  margin: 0.5em;
  width: 80%; }

#notifications {
  position: absolute;
  right: 15px;
  top: 50px;
  list-style: none; }
  #notifications li {
    padding: 20px;
    margin: 25px 0;
    width: 300px; }
    #notifications li .progress-wrapper {
      width: 200px;
      height: 3px;
      background: white;
      border: 1px solid gray;
      position: relative; }
      #notifications li .progress-wrapper .progress-bar {
        position: absolute;
        top: 0;
        left: 0;
        background: gray;
        padding: 0;
        margin: 0;
        height: 3px;
        width: 0%; }

#playlist {
  width: 400px;
  list-style-position: inside; }
  #playlist li {
    margin: 10px 0;
    border-bottom: 1px solid lightgrey; }
    #playlist li .title, #playlist li .artist, #playlist li .album {
      display: inline;
      color: gray;
      padding: 0 3px; }
    #playlist li .title {
      font-size: 16px; }
    #playlist li .artist, #playlist li .album {
      font-size: 12px; }
